@{
    // View
    View = this;

    // Check action result
    if (homePage.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!homePage.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@homePage.ShowMessages()
<div class="card">
    <div class="card-header">
        <h5 class="m-0">Recruitment Information Update</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">2023/03/25 - Test & Evaluation Invitation</h6>
        <p class="card-text">We hereby invite you to attend test & evaluation process on 30 March 2023, for detailed information please klik link below.</p>
        <a href="https://aspnetmaker.dev" class="btn btn-primary">Information Detail</a>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="m-0">Recruitment Information Update</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">2023/03/18 - Personal Data Application</h6>
        <p class="card-text">Your personal data submit is being reviewed, please wait until further notice.</p>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="m-0">Welcome to PIS Crewing Management</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">2023/03/15 - Your Registration Request is Approved </h6>
        <p class="card-text">Please complete personal data form and upload all the necessary document before 20th March 2023.</p>
        <p class="card-text">If you need more information, visit Pertamina International Shipping website.</p>
        <a href="https://pertamina-pis.com" class="btn btn-primary">Go to PIS website</a>
    </div>
</div>

@Html.Raw(GetDebugMessage())
